body,
input,
textarea,
select,
button,
table {
  font-size: 12px;
  font-family: Arial, "나눔고딕", NanumGothic, -apple-system, BlinkMacSystemFont,
    "Apple SD Gothic Neo", "맑은고딕", MalgunGothic, "돋움", Dotum, Sans-serif;
  color: #434343;
}
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
th,
td,
form,
fieldset,
legend,
select,
textarea,
label {
  margin: 0;
  padding: 0;
}
ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}
#header #gnb {
  position: absolute;
  top: 15px;
  right: 1px;
  z-index: 500;
}
#header {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
#snb_wrap {
  height: 37px;
  padding: 10px 0 8px;
}
.new,
.finish {
  position: absolute;
  top: 0;
  left: 0;
}
body {
  height: 100%;
  margin: 0;
  background: #fff;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.end_page {
  flex-wrap: nowrap;
  height: 300px;
  margin: 0 auto;
  text-align: left;
}
#content {
  float: left;
  position: relative;
  width: 694px;
  padding-left: 10px;
}
#wrap {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}
#container {
  clear: both;
  position: relative;
  width: 980px;
  min-height: 100%;
  padding: 8px 0 100px;
  margin: 0 auto;
}

[class^="Ntxt"] {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  height: fit-content;
}

h1 {
  position: relative;
  display: flex;
  z-index: 200;
  float: left;
  margin: 0px;
  padding: 7px 30px 0 0;
}
.Ntxt_naver {
  float: left;
  color: #434343;
  font-size: 15px;
  margin-top: 6px;
  font-weight: bold;
}
.Ntxt_comic {
  margin-left: 6px;
  font-size: 23px;
  font-weight: bold;
}
.bar {
  overflow: hidden;
  width: 1px;
  height: 13px;
  margin: 6px 10px 0 8px;
  background-color: #d2d2d2;
  line-height: 999px;
  vertical-align: top;
}
.Ntxt_novel {
  font-size: 15px;
  font-weight: bold;
  margin-top: 3px;
  color: hsl(0, 0%, 50%);
}

.webtoon .view_type {
  position: relative;
  padding-bottom: 8px;
  margin: 22px 0 0;
  border-bottom: 1px solid #eaeaea;
  zoom: 1;
}
.view_type {
  overflow: hidden;
  margin: 12px 0;
}
.view_type .sub_tit {
  float: left;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #222;
  margin: 0;
}

.menu {
  clear: both;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  padding: 0 10px;
  display: flex;
  width: 960px;
  margin: 0px auto;
}
.menu li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
}

.submenu {
  display: flex;
  border-bottom: 1px solid #ededed;
  background: #fafafa;
  padding: 0 10px;
  width: 960px;
  margin: 0 auto;
}
.submenu li a {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
  font-size: 13px;
}

div.webtoon {
  float: left;
  position: relative;
  width: 694px;
  padding-left: 10px;
}
div.webtoon h3 {
  margin-top: 29px;
  position: relative;
  padding-bottom: 8px;
  margin: 22px 0 0;
  border-bottom: 1px solid #eaeaea;
  zoom: 1;
  font-size: 16px;
}

.category_tab {
  height: 25px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 16px;
}
.category_tab li:first-child {
  padding-left: 0;
}
.category_tab li {
  float: left;
  padding: 0 7px;
}
.snb {
  margin: 16px 0 11px;
  border-bottom: 1px solid #e5e5e5;
}
.snb ul.my {
  display: table;
  width: 100%;
  text-align: center;
}
.snb ul.my li:first-child {
  margin-left: 0;
}
.snb ul.my li {
  float: left;
  margin-left: 27px;
}
.snb ul.spot {
  display: table;
  width: 100%;
  text-align: center;
}
.snb ul.spot li {
  display: table-cell;
}
.snb ul li a {
  display: inline-block;
  font-size: 13px;
  color: #737373;
  padding: 0 2px 8px;
}
.snb ul li .bar {
  display: inline-block;
  width: 1px;
  height: 13px;
  background: #ced2d6;
  margin: 2px 0 0 12px;
  vertical-align: top;
}
.category_tab_year {
  display: table;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 20px;
}
.category_tab_year li {
  width: 52px;
  letter-spacing: 0;
  display: table-cell;
}

div.webtoon ul li.on a {
  font-weight: bold;
  color: #00c85e;
  border-bottom: 2px solid #00d564;
}
div.webtoon ul li a {
  display: inline-block;
  font-size: 13px;
  color: #606060;
  padding: 0 2px 9px;
  margin-bottom: -1px;
}
