.webtoon_area {
    float: left;
    width: 582px;
}

.webtoon_area .bigimg {
    position: relative;
    display: none;
}
.webtoon_area:hover .bigimg {
    position: relative;
    display: block;
}

div {
    display: block;
}

img {
    vertical-align: top;
}

.webtoon_lst {
    position: relative;
    padding: 0 20px 0 19px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.webtoon_lst .lst_area {
    overflow: hidden;
    width: 539px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.comicList {
    width: fit-content;
}